h1 {color:rgb(18, 89, 0)}
h2 {font-size:24px}
h3 {font-family:arial}
span
{
font-variant:small-caps; font-family:arial; font-weight:bold;
 color:rgb(18, 89, 0); font-size:24px;
}
img
{
text-align:middle
}
div.idk
{
font-family: Arial, Helvetica, sans-serif
}