html {
    background-color:rgb(245, 245, 255);
}
body {
    font-family: "Roboto",Arial,sans-serif;
}
nav {
    display:grid;
    grid-template-rows:200px;
    grid-template-columns:200px 200px;
}
nav a {
    text-decoration:none;
    color:black;
    cursor:pointer;
    font-weight:500;
}
header {
    justify-content:center;
    text-align:center;
    position:absolute;
    left:50%;
    top:3%;
}
#dropdownOne {
    all:unset;
    font-size:2.7rem;
    grid-row:1;
    grid-column:1;
}
#dropdownTwo {
    all:unset;
    font-size:2.7rem;
    grid-row:1;
    grid-column:2;
}
.dropdownTwoDIV {
    padding:0;
}
#menuOne {
    grid-row:1;
    grid-column:1;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    max-height:0px;
    padding:0 10px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    z-index:1000;
    padding-left:0;
}
#menuTwo {
    grid-row:1;
    grid-column:2;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    max-height:0px;
    padding:0 10px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    z-index:1000;
    padding-left:0;
}

#menuOne.show {
    max-height: 100px;
    padding:10px;
    padding-left:0;
}
#menuTwo.show {
    max-height: 100px;
    padding:10px;
    padding-left:0;
}