.CardContainer {
    border: 1px solid black;
    height:500px;
    width: 800px;
    padding:20px;
}
.Card {
    border: 1px solid black;
    height:370px;
    width:300px;
}
#imgOne {
    height:300px;
    width:300px;
}