html {
    scroll-behavior:smooth;
}
body {
    background: linear-gradient(to right, #e0f7e0, #ffffff);
    margin-top:0px;
    font-family:"Roboto"
}
nav {
    background-color:#e0f7e0;
    height:30px;
    margin-top:0px;
}
nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    padding-top: 5px;
    margin:0;

}
nav li {
    margin: 0 20px;
}
nav a {
    text-decoration:none;
    color:#333;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color:#007700;
}
header {
    font-family:"Montserrat", sans-serif;
    font-size:2.5em;
    text-align:center;
}
main {
    font-family:"Roboto", sans-serif;
    padding:0 10%;
}
.about-section {
  padding: 80px 10%;
}
div.about {
    display:flex;
    position:relative;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}
div.abc {
    display:flex;
    flex-direction:column;
    gap:10px;
}
.about .text-desktop {
    flex:1;
    margin:0;
    width:50%;
}
.about .text-mobile {
    display:none;
    flex:1;
    margin:0;
    width:50%;
}
.about .img-about {
    flex:2;
    max-width:50%;
    height:auto;
    object-fit:cover;
    border-radius:10px;
    display:block;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.text {
    font-family:"Montserrat";
    color:rgb(0, 37, 4)

}
.appointmentsSECTION {
    padding:8.88% 10%
}
.appointmentsLink {
    color:#333;
    text-decoration:none;
}
.appointmentsLink:hover {
    color:#007700;
    cursor:pointer;
}
div.appointmentsDIV {
    display:flex;
    align-items:center;
    justify-content:center;
}
.appointmentsIMG {
    max-width:47%;
    height:auto;
    border-radius:12px;
    margin-right:20px
}
.appointmentsP {
    margin-left:20px;
    font-size: 30px;
}
/* Appointments */
.headlineAP {
    font-size:1.7em;
    font-family:"Montserra";
}
.calendarOneP {
    background-color:#e0f7e0;
    width:vw;
    justify-content:center;
    text-align:center;
    height:40px;
    font-size:22px;
    font-weight:500;
}
.calendarA {
  all: unset;
  cursor: pointer;
  color: inherit; 
  text-decoration: none;
}
.calendarA:hover {
    color:#007700;
    cursor:pointer;
}

/* CSS */
.bookB {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.bookB:disabled {
  cursor: default;
}

.bookB:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
@media (max-width: 576px) {
    nav {
        height:21.2px;
    }
    nav ul {
        padding-top:0px;
    }
    nav li {
        margin-top:0px;
        margin-left: 5px;
        margin-right:5px;

    }
    nav a {
        font-size:12.7px;
    }
    header {
        font-size:1em;
    }
    main {
        padding:0;
    }
    .about-section {
        padding: 8.88% 5%;
    }
    div.about {
        margin-top:50px;
    }
    .about .text-desktop {
        display:none;
    }
    .about .text-mobile {
        display:block;
    }
    .about .img-about {
        flex:2;
        max-width:70%;
    }
}
.bookBtwo {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  height: 44px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top:12px;
}

.bookBtwo:hover,
.bookBtwo:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.bookBtwo:hover {
  transform: translateY(-1px);
}

.bookBtwo:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.xyz {
    display:flex;
    gap:20px;
}
footer {
    display:flex;
    height:400px;
    text-align:center;
    justify-content:center;
    background-color:#d7f4d7;
}